.title {
    &-small {
        letter-spacing: 0.2rem;
        font-size: 1.8rem;
    }
}

.text {
    &-primary {
        color: var(--primary);
    }
}

.projet-in {
    text-decoration: underline;
    color: rgb(27, 151, 110);
  }