@import "reset";
@import "base";
@import "classes";

.grid-container {
    display: grid;
    grid: 
    'picture header' auto
    'aside main' 1fr
    / 350px auto;
    min-height: 100vh;

}

header {
    grid-area: header;
    background: linear-gradient(to right, var(--primary), var(--light));
    padding: 8rem 5rem;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 6rem;
        line-height: 8rem;
        font-weight: 300;
        color: white;
        letter-spacing: 2rem;
    }
    p {
        letter-spacing: 0.5rem;
    }
}

.picture {
grid-area: picture;
padding: 4rem;
img {
    border-radius: 50%;
 }
}

aside {
    grid-area: aside;
    background: var(--background);
    border-right: 1px solid #ddd;
    padding: 5rem;
    min-height: 1500px;
    h3 {
        margin-bottom: 0;
        font-size: 1.4rem;
    }
    p {
        margin: 0 0 2rem 0;
        font-style: italic;
    }
    .bar-skill {
        margin: 2rem 0;
        height: 5px;
        background: var(--hint);
        position: relative;
        .bar-skill-progress {
         position: absolute;
         height: 5px;
         top: 0;
         left: 0;
         width: 60%;
         background: var(--light);
    }
    .bar-skill-dot {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        left: calc(60% - 5px);
        top: -2.5px;
        transform: rotate(45deg);
    }
  }
}

main {
    grid-area: main;
    
}